* {
  margin: 0;
  padding: 0;
  outline: none;
  color: #F2F2F2;
}
a {
  text-decoration: none !important;
  color: #F2F2F2 !important;
  &:hover {
    text-decoration: none !important;
    color: #F2F2F2 !important;
  }
}
body {
  font-family: sans-serif;
  background: #333333 !important;
}
